<html>
  <head>
    <title>Markeaze js chat client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://assets-shared.markeaze.com/public/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="120x120" href="https://assets-shared.markeaze.com/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://assets-shared.markeaze.com/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://assets-shared.markeaze.com/public/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="https://assets-shared.markeaze.com/public/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <style type="text/css">
body {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  font-family: Arial;
}
a {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
    </style>
    <!-- Markeaze -->
    <script type="text/javascript">

// (function(w,d,c,h){w[c]=w[c]||function(){(w[c].q=w[c].q||[]).push(arguments)};var s = d.createElement('script');s.type = 'text/javascript';s.async = true;s.charset = 'utf-8';s.src = h;var x = d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})(window,document,'mkz','https://cdn.jsdelivr.net/gh/markeaze/markeaze-js-tracker@latest/dist/mkz.js');

(function(w,d,c,h){w[c]=w[c]||function(){(w[c].q=w[c].q||[]).push(arguments)};var s = d.createElement('script');s.type = 'text/javascript';s.async = true;s.charset = 'utf-8';s.src = h;var x = d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})(window,document,'mkz','http://localhost:8084/mkz.js');

mkz('watch', 'plugin.chat.created', function() {
  document.getElementById('chatVersion').innerHTML = mkz('pluginVersion', 'chat');
});

mkz(function() {
  document.getElementById('version').innerHTML = mkz('version');
});

mkz('debug', true);
mkz('updateStore', {
  trackerUrl: '<%= process.env.TRACKER_URL %>',
  chatUrl: '<%= process.env.CHAT_URL %>',
  plugins: {
    chat: {
      url: '/mkz-chat-client.js'
    },
    chatAttachment: {
      url: '/mkz-chat-client-attachment.js',
      enabled: true
    }
  }
});

mkz('watch', 'url.change', () => {
  mkz('trackPageView', {
    page: {
      url: 'http://eqsol.ru/',
      title: 'Test page'
    }
  });
});

mkz('appKey', '<%= process.env.APP_KEY %>');

    </script>
    <!-- /Markeaze -->
  </head>
  <body>
    <h1>Markeaze Js Chat Client</h1>
    <p>
      Js Trakcer v<b id="version">###</b>
    </p>
    <p>
      Js Chat Client v<b id="chatVersion">###</b>
    </p>
    <a href="/preview.html">Go to preview mode</a>
    <hr />
    <button onclick="mkz('emitPlugin', 'chat', 'show')">Show</button>
    <button onclick="mkz('emitPlugin', 'chat', 'hide')">Hide</button>
  </body>
</html>
