$font: Geneva, Arial, Helvetica, sans-serif
$color_border: #E0E0E0
$color_link: #FC6881
$color_text: #333333
$color_bg: #FFF
$color_hint: #787878
$color_gray_1: #DFDFDF
$color_gray_2: #F5F5F5
$color_gray_3: #828282
$shadow_box: 0px 0px 6px rgba(120, 120, 120, 0.25), 0px 0px 1px rgba(120, 120, 120, 0.1)

@import './markdown.sass'
@import './imagePreview.sass'

=reset()
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    color: inherit
    font-weight: inherit
    text-transform: inherit
    max-width: none

  label, legend
    width: auto
    height: auto

  input, select, textarea, button
    margin: 0
    padding: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    background-image: none
    outline: none

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section
    display: block

  line-height: 1

  ol, ul
    list-style: none

  blockquote, q
    quotes: none

  blockquote:before, blockquote:after,
  q:before, q:after
    content: ''
    content: none

  table
    border-collapse: collapse
    border-spacing: 0

[mkz]
  +reset()

  .mkz-c
    text-align: left
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    font-size: 15px
    color: #333
    display: none

    *
      font-family: $font
      -webkit-tap-highlight-color: transparent

  .mkz-c_display_yes
    display: block

  .mkz-c_valid-message_yes

    .mkz-c__footer-btn
      display: block

  .mkz-c_chat_show

    .mkz-c__chat
      opacity: 1
      visibility: visible

  .mkz-c_beacon_show

    .mkz-c__handler
      opacity: 1
      visibility: visible

    .mkz-c__btn
      animation-play-state: paused

    &.mkz-c_tooltip_yes

      .mkz-c__tooltip
        opacity: 1
        visibility: visible

  .mkz-c_agent_online

    .mkz-c__state
      background-color: #0EC52C
      display: block

    .mkz-c__btn-text-online
      display: block

    .mkz-c__btn-text-offline
      display: none

  .mkz-c__handler
    transition: opacity 0.2s linear, visibility 0.4s 0s linear
    opacity: 0
    visibility: hidden
    position: fixed
    z-index: 20000000

  .mkz-c__handler_position_l-t
    left: 0
    top: 0

  .mkz-c__handler_position_r-t
    right: 0
    top: 0

  .mkz-c__handler_position_l-b
    left: 0
    bottom: 0

  .mkz-c__handler_position_r-b
    right: 0
    bottom: 0

  .mkz-c__handler_type_bubble

    .mkz-c__btn-1, .mkz-c__btn-2, .mkz-c__btn-3
      rx: 0

    .mkz-c__btn-2, .mkz-c__btn-3
      opacity: 0
      rx: 10

    &.mkz-c__handler_bouncing_yes

      .mkz-c__btn-1, .mkz-c__btn-2, .mkz-c__btn-3
        transform-origin: 50% 50%

      .mkz-c__btn-1
        animation: mkzBounceAnim1 8s infinite forwards

      .mkz-c__btn-2
        animation: mkzBounceAnim2 8s infinite forwards

      .mkz-c__btn-3
        animation: mkzBounceAnim3 8s infinite forwards

    &.mkz-c__handler_position_l-t, &.mkz-c__handler_position_l-b

      .mkz-c__tooltip
        left: 100%
        right: auto
        margin-left: 15px
        margin-right: 0
        border-radius: 0 6px 6px 0

        &:after
          left: -10px
          right: auto
          transform: rotate(180deg)

        &:before
          left: -1px
          right: auto

      .mkz-c__tooltip_picture_yes
        padding-left: 5px
        padding-right: 40px

      .mkz-c__tooltip-picture
        position: absolute
        left: auto
        right: -35px

    .mkz-c__btn
      width: 60px
      height: 60px
      border-radius: 25px 25px 0 25px
      background-color: #eee
      color: #000
      display: flex
      align-items: center
      justify-content: center
      transition: transform 0.2s linear
      box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)

      &:hover
        transform: scale(1.1)
        animation-play-state: paused

    .mkz-c__btn-text
      display: none

    .mkz-c__tooltip
      position: absolute
      right: 100%
      top: 50%
      margin-right: 15px
      transform: translateY(-50%)
      box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)
      color: #fff
      background: #4F4F4F
      padding: 5px
      border-radius: 6px 0 0 6px
      width: 160px
      box-sizing: border-box

      &:after
        content: ''
        position: absolute
        right: -10px
        top: 0
        bottom: 0
        width: 10px
        clip-path: polygon(0 0, 0 0, 100% 50%, 0 100%)
        background: inherit
        box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)

      &:before
        content: ''
        position: absolute
        right: -1px
        top: 1px
        bottom: 1px
        width: 2px
        background: inherit

    .mkz-c__tooltip_picture_yes
      padding-left: 40px

    .mkz-c__tooltip-text
      font-size: 12px
      line-height: 16px
      text-align: center
      max-width: 100%
      overflow: hidden
      text-overflow: ellipsis

    .mkz-c__tooltip-picture
      position: absolute
      left: -35px
      top: 50%
      transform: translateY(-50%)
      max-width: 79px

  .mkz-c__handler_type_bar

    &.mkz-c__handler_bouncing_yes .mkz-c__btn
      animation: mkzBounceSmScale  5s infinite linear

    &.mkz-c__handler_position_l-t
      margin-top: 0 !important

    &.mkz-c__handler_position_r-t
      margin-top: 0 !important

    &.mkz-c__handler_position_l-b
      margin-bottom: 0 !important

    &.mkz-c__handler_position_r-b
      margin-bottom: 0 !important

    &.mkz-c__handler_position_l-t, &.mkz-c__handler_position_r-t

      .mkz-c__btn
        border-radius: 0 0 15px 15px

        &:hover
          padding-top: 20px
          padding-bottom: 8px

      .mkz-c__tooltip
        bottom: auto
        top: 100%
        margin-top: 25px
        margin-bottom: 0
        border-radius: 0 0 6px 6px

        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: 100%
          top: auto
          transform: rotate(180deg)

    &.mkz-c__handler_position_t, &.mkz-c__handler_position_l

      .mkz-c__btn
        border-radius: 0 0 15px 15px

        &:hover
          padding-top: 20px
          padding-bottom: 8px

      .mkz-c__tooltip
        bottom: auto
        top: 100%
        margin-top: 25px
        margin-bottom: 0
        border-radius: 0 0 6px 6px

        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: 100%
          top: auto
          transform: rotate(180deg)

    &.mkz-c__handler_position_t
      right: 0
      top: 0
      margin-top: 0 !important

    &.mkz-c__handler_position_l
      transform: rotate(-90deg) translateX(-100%)
      transform-origin: 0 0
      left: 0
      top: 0
      margin-left: 0 !important

    &.mkz-c__handler_position_r
      transform: rotate(-90deg) translateY(-100%)
      transform-origin: 100% 0
      right: 0
      top: 0
      margin-right: 0 !important

    &.mkz-c__handler_position_b
      right: 0
      bottom: 0
      margin-bottom: 0 !important

    .mkz-c__tooltip-picture
      display: none

    .mkz-c__btn
      display: flex
      align-items: center
      padding: 8px 20px
      border-radius: 15px 15px 0 0
      transition: padding 0.2s ease-out

      &:hover
        padding-bottom: 20px
        animation-play-state: paused

    .mkz-c__btn-text
      flex: 1
      font-size: 14px
      line-height: 18px
      font-weight: 600
      max-width: 230px
      min-height: 18px

    .mkz-c__btn-text-online, .mkz-c__btn-text-offline
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    .mkz-c__btn-picture
      flex: 0 0 14px
      height: 14px
      margin-left: 5px

    .mkz-c__tooltip
      position: absolute
      bottom: 100%
      right: 0
      margin-bottom: 25px
      box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)
      color: #fff
      background: #7261FF
      padding: 30px 5px
      border-radius: 6px 6px 0 0
      min-width: 47px
      max-width: 80px
      box-sizing: border-box
      font-weight: 600
      font-size: 16px
      line-height: 18px
      text-align: center

      &:after
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 100%
        height: 20px
        clip-path: polygon(0 0, 50% 100%, 100% 0, 0 0)
        background: inherit
        box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)
        margin: -1px 0

      .mkz-c__tooltip-text
        overflow: hidden
        text-overflow: ellipsis

  .mkz-c__btn-text-online
    display: none

  .mkz-c__btn-text-offline
    display: block

  .mkz-c__tooltip
    opacity: 0
    visibility: hidden
    transition: opacity 0.2s linear, visibility 0.4s 0s linear

  .mkz-c__submit
    cursor: pointer
    transition: all linear 0.2s
    opacity: 1
    color: $color_link
    margin: -1px 0

  .mkz-c__submit_disabled_yes
    cursor: default
    opacity: 0.5

  .mkz-c__chat
    transition: opacity 0.2s linear, visibility 0.4s 0s linear
    opacity: 0
    visibility: hidden
    position: fixed
    right: 0
    bottom: 0
    width: 100%
    max-width: 376px + 25
    max-height: 688px + 25 + 25
    height: 100vh
    z-index: 20000000

  .mkz-c__chat_position_left
    left: 0
    right: auto

    .mkz-c__cart, .mkz-c__cart-shadow
      right: 0
      left: 25px

  .mkz-c__cart, .mkz-c__cart-shadow
    position: absolute
    left: 0
    top: 25px
    right: 25px
    bottom: 25px
    display: flex
    justify-content: stretch
    flex-direction: column
    border-radius: 6px
    z-index: 5

  .mkz-c__cart-shadow
    z-index: 0
    box-shadow: 0 0 10px rgba(25, 25, 29, 0.25)
    opacity: 0.75

  .mkz-c__head, .mkz-c__docs, .mkz-c__footer
    padding: 0 24px

  .mkz-c__head, .mkz-c__docs, .mkz-c__footer
    flex: 0

  .mkz-c__content, .mkz-c__docs
    background-color: $color_bg

  .mkz-c__content
    flex: 1
    position: relative

  .mkz-c__scroll
    overflow: hidden
    overflow-y: auto
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    padding: 0 16px

  .mkz-c__head
    border-bottom: 1px solid $color_border
    padding-top: 2px
    padding-bottom: 2px
    border-radius: 6px 6px 0 0
    box-sizing: border-box

  .mkz-c__head-row
    display: flex
    align-items: center
    margin: 14px 0

  .mkz-c__head-title
    flex: 1
    font-weight: bold
    font-size: 17px
    line-height: 22px
    height: 22px
    white-space: nowrap

  .mkz-c__head-state
    flex: 0
    padding-right: 14px

  .mkz-c__head-m
    flex: 1
    overflow: hidden

  .mkz-c__head-action
    flex: 0
    position: relative
    right: -10px

  .mkz-c__copy-wrap
    text-align: center
    margin-top: -35px

  .mkz-c__copy
    display: inline-block
    font-size: 10px
    line-height: 16px
    color: $color_hint
    text-decoration: none
    padding: 9px

    &:hover
      text-decoration: none

  .mkz-c__copy-logo
    display: inline-block
    vertical-align: middle
    margin-right: 4px

  .mkz-c__overflow
    text-overflow: ellipsis
    overflow: hidden

  .mkz-c__m-assign-text
    font-weight: 600
    font-size: 14px
    line-height: 20px

  .mkz-c__m-assign-post
    font-size: 13px
    line-height: 15px
    margin-top: 2px

  .mkz-c__m-assign-avatar
    width: 40px
    height: 40px
    border-radius: 17px 17px 0 17px
    border: 1px solid #fff
    overflow: hidden

  .mkz-c__unmute
    display: none

  .mkz-c_mute_yes

    .mkz-c__unmute
      display: block

    .mkz-c__mute
      display: none

  .mkz-c__close, .mkz-c__unmute, .mkz-c__mute
    cursor: pointer
    padding: 10px
    margin: -10px 0
    opacity: 0.7
    transition: all linear 0.2s

    &:hover
      opacity: 1

  .mkz-c__state-wrap
    position: relative

  .mkz-c__state
    position: absolute
    right: -3px
    bottom: 0
    width: 7px
    height: 7px
    border-radius: 50%
    background-color: red
    transition: background 0.5s linear
    border: 1px solid #fff
    display: none

  .mkz-c__footer
    border-top: 1px solid $color_border
    display: flex
    align-items: center
    padding-top: 23px
    padding-bottom: 22px
    background-color: #fff
    border-radius: 0 0 6px 6px

  .mkz-c__footer-msg
    flex: 1

  .mkz-c__footer-btn
    flex: 0
    display: none

  .mkz-c__input
    &, &:hover, &:focus
      display: block
      width: 100%
      resize: none
      padding: 0
      font-size: 14px
      line-height: 1.2em
      font-family: $font
      color: $color_text
      border-style: none
      outline-style: none
      background-color: transparent
      overflow: hidden
      max-height: 50vh
      min-height: 20px
      height: 0
      -webkit-appearance: none
      box-shadow: none

  .mkz-c__btn
    color: $color_link
    cursor: pointer

  .mkz-c__btn-unread
    background-color: red
    width: 16px
    height: 16px
    font-size: 8px
    line-height: 16px
    text-align: center
    color: #fff
    overflow: hidden
    position: absolute
    right: -5px
    top: -5px
    border-radius: 50%
    box-shadow: 0 0 1px 2px #fff

  .mkz-c__list
    padding: 20px 0
    min-height: 100%
    box-sizing: border-box

  .mkz-c__i
    display: flex
    margin: 15px 0

  .mkz-c__i-avatar
    display: flex
    align-items: flex-end
    flex: 0 0 44px
    padding-bottom: 21px

  .mkz-c__i-info
    font-size: 11px
    line-height: 16px
    color: $color_hint
    margin-top: 5px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .mkz-c__i_type_agent
    padding-right: 7px

  .mkz-c__i_type_client
    padding-left: 7px
    flex-direction: row-reverse
    text-align: right

    .mkz-c__i-avatar
      display: none
      background-color: #E7FEEA

    .mkz-c__i-msg
      background-color: #fff
      border-radius: 6px 6px 0 6px

  .mkz-c__i-content
    flex: 1
    overflow: hidden
    padding: 5px
    margin: -5px

  .mkz-c__i-avatar-img
    width: 32px
    height: 32px
    border-radius: 11px 11px 0 11px
    box-shadow: $shadow_box

  .mkz-c__i-msg-block:not(:last-child)
    margin-bottom: 8px

  .mkz-c__i-msg
    display: inline-block
    text-align: left
    background-color: #E7FEEA
    border-radius: 6px 6px 6px 0
    padding: 14px 16px
    font-size: 14px
    line-height: 20px
    max-width: 100%
    box-sizing: border-box

    +markdown()

  .mkz-c__i-msg-overflow
    padding: 0 2px
    margin: 0 -2px

    &, & p, & code
      overflow: hidden
      text-overflow: ellipsis

  .mkz-c-docs
    margin: 10px -3px
    overflow: hidden

  .mkz-c-docs__list
    display: flex

  .mkz-c-docs__i
    flex: 1
    padding: 0 3px
    box-sizing: border-box

  .mkz-c-docs__btn
    cursor: pointer
    font-size: 11px
    line-height: 1.2em
    color: $color_text
    background-color: #F0F0F1
    border: 1px solid $color_border
    border-radius: 10px
    text-align: center
    padding: 4px 15px
    display: block
    width: 100%
    box-sizing: border-box
    white-space: nowrap

    &:hover
      background-color: #E0E0E1

  .mkz-f
    max-width: 281px
    padding: 14px 16px
    box-sizing: border-box
    margin: 0
    box-shadow: $shadow_box
    background-color: #fff
    border-radius: 6px

  .mkz-f__row:not(:last-child)
    margin-bottom: 8px

  .mkz-f__label
    display: block
    font-size: 13px
    line-height: 15px
    margin-bottom: 4px

  .mkz-f__control_type_success
    position: relative

    &:after
      content: ''
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 9.81305L16.192 0.672287L17.607 2.07825L7 12.625L0.636002 6.29714L2.05 4.89118L7 9.81305Z' fill='%2317B055'/%3E%3C/svg%3E");
      background-repeat: no-repeat
      background-size: 17px 12px
      width: 17px
      height: 12px
      position: absolute
      right: 14px
      top: 50%
      margin-top: -6px

  .mkz-f__input, .mkz-f__select
    display: block
    width: 100%
    box-sizing: border-box
    resize: none
    padding: 0 0 0 10px
    font-size: 14px
    line-height: 38px
    height: 40px
    font-family: $font
    color: $color_text
    outline-style: none
    background-color: #fff
    border-radius: 6px
    border: 1px solid $color_gray_1
    overflow: hidden
    -webkit-appearance: none

    &[disabled]
      color: #333333
      background-color: #FAFAFA
      border-color: #FAFAFA

  .mkz-f__select
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    position: relative
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>")
    background-repeat: no-repeat
    background-position: calc(100% - 10px) center
    background-size: 10px

    &[disabled]
      background-image: none

  .mkz-f__note
    font-size: 12px
    line-height: 16px
    color: $color_hint

  .mkz-f__btn, .mkz-c-o__btn
    display: block
    width: 100%
    box-sizing: border-box
    font-weight: 600
    font-size: 14px
    line-height: 1.2em
    color: #fff
    background-color: $color_link
    border-radius: 6px
    border-style: none
    padding: 16px
    text-align: center
    outline-style: none
    text-decoration: none
    cursor: pointer
    transition: all linear 0.2s

    &[disabled]
      &, &:hover
        background-color: desaturate($color_link, 30%)
        color: #aaa
        cursor: default

    &:hover
      text-decoration: none
      background-color: darken($color_link, 10%)

  .mkz-f__invalid
    &, &::placeholder
      color: red !important
      box-shadow: 0 0 1px 1px red !important

  /* Offers */

  .mkz-c-o__i
    width: 192px

    &:not(:last-child)
      margin-bottom: 20px

  .mkz-c-o__btn
    padding: 12px 16px

  .mkz-c-o__content
    padding: 16px
    border: 1px solid $color_border
    border-radius: 6px

  .mkz-c-o__preview-link
    display: flex
    align-items: center
    justify-content: center
    height: 128px
    margin-bottom: 10px

  .mkz-c-o__preview-img
    display: block
    max-width: 100%
    max-height: 100%
    color: $color_hint

  .mkz-c-o__name
    font-size: 14px
    line-height: 20px
    margin-bottom: 10px

  .mkz-c-o__name-link
    color: $color_text
    text-decoration: none
    cursor: pointer

    &:hover
      text-decoration: underline

  .mkz-c-o__info
    margin-bottom: 20px

  .mkz-c-o__info-price
    font-weight: 600
    font-size: 17px
    line-height: 22px

  .mkz-c-o__counter
    font-size: 10px
    line-height: 18px
    padding: 3px 10px
    color: $color_hint

  /* / Offers */

  /* / Files */

  .mkz-c-f__i

    &:not(:last-child)
      margin-bottom: 5px

  .mkz-c-f__link
    display: inline-block
    max-width: 100%
    border-radius: 6px
    position: relative

    &, &:hover
      text-decoration: none
      color: $color_text

    &:hover
      box-shadow: $shadow_box

  .mkz-c-f__preview
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 40px
    padding: 6px 0
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center
    background-color: $color_gray_2
    border-radius: 6px 0 0 6px
    z-index: 1

  .mkz-c-f__content
    min-height: 48px
    padding: 6px 8px
    margin-left: 40px
    box-sizing: border-box
    display: flex
    align-items: center
    background-color: $color_gray_1
    border-radius: 0 6px 6px 0

  .mkz-c-f__text
    display: block
    width: 100%

  .mkz-c-f__name, .mkz-c-f__size
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  .mkz-c-f__name
    display: block
    font-size: 14px
    line-height: 20px

  .mkz-c-f__size
    display: block
    font-size: 11px
    line-height: 16px
    color: $color_gray_3

  /* / Files */

  /* Images */

  .mkz-c-i
    font-size: 0
    margin: 0 -4px

  .mkz-c-i__i
    display: inline-block
    vertical-align: top
    position: relative
    height: 136px

    &:not(:last-child)
      margin-bottom: 8px

  .mkz-c-i__i_type_0, .mkz-c-i__i_type_1
    width: 50%

  .mkz-c-i__i_type_2
    width: 100%

  .mkz-c-i__link
    position: absolute
    left: 4px
    top: 0
    right: 4px
    bottom: 0
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 6px
    cursor: pointer
    background-color: $color_gray_2

    &, &:hover
      text-decoration: none

    &:hover
      box-shadow: $shadow_box

  /* / Images */

  +imagePreview()

.mkz-c-mobile

  &.mkz-c-fixed
    position: fixed !important
    height: 100% !important
    width: 100% !important
    max-width: 100% !important
    overflow-x: hidden !important

    body
      z-index: auto !important
      zoom: 1 !important
      max-width: 100% !important
      overflow-x: hidden !important

  [mkz]

    .mkz-c__chat
      max-height: none
      max-width: none
      width: auto
      height: auto
      right: 0
      left: 0
      top: 0
      bottom: 0

    .mkz-c__input, .mkz-f__input, .mkz-f__select
      font-size: 16px

    .mkz-c__cart, .mkz-c__chat_position_left .mkz-c__cart
      right: 0
      left: 0
      top: 0
      bottom: 0
      border-style: none

    .mkz-c__cart, .mkz-c__head, .mkz-c__footer
      border-radius: 0

@keyframes mkzBounceAnim1
  0%
    transform: rotate(45deg) scale(1)
    rx: 0
  5%
    transform: rotate(90deg) scale(1)
    rx: 0
  10%
    transform: rotate(90deg) scale(0.5)
    rx: 10
  12%
    transform: rotate(90deg) scale(0.5)
  20%
    transform: rotate(90deg) scale(0.5)
    rx: 10
  25%
    transform: rotate(45deg) scale(1)
    rx: 0
  100%
    transform: rotate(45deg) scale(1)
    rx: 0

@keyframes mkzBounceAnim2
  10%
    opacity: 1
    transform: scale(0.5) translate(0, 0)
  12%
    opacity: 1
    transform: scale(0.5) translate(-27px, 0)
  17%
    opacity: 1
    transform: scale(0.5) translate(-27px, 0)
  20%
    opacity: 1
    transform: scale(0.5) translate(0, 0)
  25%
    opacity: 0
    transform: scale(0.5) translate(0, 0)

@keyframes mkzBounceAnim3
  10%
    opacity: 1
    transform: scale(0.5) translate(0, 0)
  12%
    opacity: 1
    transform: scale(0.5) translate(27px, 0)
  17%
    opacity: 1
    transform: scale(0.5) translate(27px, 0)
  20%
    opacity: 1
    transform: scale(0.5) translate(0, 0)
  25%
    opacity: 0
    transform: scale(0.5) translate(0, 0)

@keyframes mkzBounceSmScale
  94%
    transform: scale(1)
  98%
    transform: scale(1.05)
  100%
    transform: scale(1)
